h1 {
    background-color: black;
    color:aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
h2 {
    background-color: rgb(150, 79, 195);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    
}
h3 {
    background-color: skyblue;
    color:black;
    text-align: right;
    text-decoration-line: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 20px 10px 10px;
    margin-top: 10px;
}
